
:root{
    --mainColor:rgb(44,44,46) ; 
    --secondaryColor: rgb(72,72,74);

    --borderColor: black;

    --mainText: rgb(48,209,88);
    --secondaryText: rgb(242,242,247);
    
    --previewBg:black; 
    --previewShadow:rgb(58,58,60);
}


html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(102, 102, 102);
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500px;
}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
    
}

a{
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: #8036f8;
    font-size: large;
}

li{
    font-size: medium;
}
ul{
    list-style: none;
    padding-inline-start: 20px;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

hr{
    height: 2px;
    background-color: black;
    border: none;
}



.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}


.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;

}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}

.nav-wrapper{
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 5px 5px 0 0;
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color: #fc6058;
}
#dot-2{
    background-color: #fec02f;
}
#dot-3{
    background-color: #2aca3b;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}



#preview-shadow{
    background-color: var(--previewShadow);
    width: 80%;
    height: 80%;
    padding-left: 30px;
    padding-top: 30px;
}



.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 50px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
    width: 100%;
}

.social-links{
    display: grid;
    align-content: center;
    text-align: center;

}

#social-image{
    width: 100%;
}


.post-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
    grid-template-areas: 
        'main-post main-post' 
        'post1 post2'
        'main-post2 main-post2';


    padding-top: 50px;
    padding-bottom: 50px;
}

.post1, .post2, .post3{
    border: 1px solid var(--borderColor);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.main-post{
    grid-area: main-post;
    border: 1px solid var(--borderColor);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);


}
.main-post2{
    grid-area: main-post2;
    border: 1px solid var(--borderColor);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);


}

.main-thumbnail-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.main-thumbnail{
    width: 65%;
    height: 400px;
    object-fit: cover;
}
.main-thumbnail2{
    width: 35%;
    height: 400px;
    object-fit: fill;
}

.thumbnail{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.post-preview{
    background-color: rgb(58,58,60);
    padding: 15px;
}

.post-intro-links-wrapper{
    display: flex;
    justify-content: space-evenly;
}

.post-title{
    margin: 0;
}






@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 1000px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'left-column' 
            'right-column'
        ;
    }

    .right-column{
        padding: 30px;
        justify-content: center;
    } 

    ul{
        padding-inline-end: 10px;
        padding-inline-start: 20px;
    }

    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 50px;
    }
    
}

@media screen and (max-width: 700px){
    .post-wrapper{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px 30px;
        grid-template-areas: 
            'main-post ' 
            'post1' 
            'post2'
            'main-post2';
    
    
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .post-intro-links-wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}